/* ==== GRID SYSTEM ==== */
main {width: 85%;margin-left: auto;margin-right: auto;}
section {display: inline-block; width: 100%;}
[class^="col-"] {padding: 1rem 0.5rem;float:left;position: relative;display: inline-block;}
/* 16px */ @media only screen and (min-width: 1em) {
  .col-1s {width: 8.33%;}
  .col-2s {width: 16.66%;}
  .col-3s {width: 25%;}
  .col-4s {width: 33.33%;}
  .col-5s {width: 41.66%;}
  .col-6s {width: 50%;}
  .col-7s {width: 58.33%;}
  .col-8s {width: 66.63%;}
  .col-9s {width: 75%;}
  .col-10s {width: 83.33%;}
  .col-11s {width: 91.66%;}
  .col-12s {width: 100%;}
  .col-hidden-s {display: none;}
}
/* 480px */ @media only screen and (min-width: 30em) {
  .col-1s {width: 8.33%;}
  .col-2s {width: 16.66%;}
  .col-3s {width: 25%;}
  .col-4s {width: 33.33%;}
  .col-5s {width: 41.66%;}
  .col-6s {width: 50%;}
  .col-7s {width: 58.33%;}
  .col-8s {width: 66.63%;}
  .col-9s {width: 75%;}
  .col-10s {width: 83.33%;}
  .col-11s {width: 91.66%;}
  .col-12s {width: 100%;}
  .col-1m {width: 8.33%;}
  .col-2m {width: 16.66%;}
  .col-3m {width: 25%;}
  .col-4m {width: 33.33%;}
  .col-5m {width: 41.66%;}
  .col-6m {width: 50%;}
  .col-7m {width: 58.33%;}
  .col-8m {width: 66.63%;}
  .col-9m {width: 75%;}
  .col-10m {width: 83.33%;}
  .col-11m {width: 91.66%;}
  .col-12m {width: 100%;}
  .col-hidden-s {display: inline-block;}
  .col-hidden-m {display: none;}
}
/* 720px */ @media only screen and (min-width: 45em) {
  .col-1s {width: 8.33%;}
  .col-2s {width: 16.66%;}
  .col-3s {width: 25%;}
  .col-4s {width: 33.33%;}
  .col-5s {width: 41.66%;}
  .col-6s {width: 50%;}
  .col-7s {width: 58.33%;}
  .col-8s {width: 66.63%;}
  .col-9s {width: 75%;}
  .col-10s {width: 83.33%;}
  .col-11s {width: 91.66%;}
  .col-12s {width: 100%;}
  .col-1m {width: 8.33%;}
  .col-2m {width: 16.66%;}
  .col-3m {width: 25%;}
  .col-4m {width: 33.33%;}
  .col-5m {width: 41.66%;}
  .col-6m {width: 50%;}
  .col-7m {width: 58.33%;}
  .col-8m {width: 66.63%;}
  .col-9m {width: 75%;}
  .col-10m {width: 83.33%;}
  .col-11m {width: 91.66%;}
  .col-12m {width: 100%;}
  .col-1l {width: 8.33%;}
  .col-2l {width: 16.66%;}
  .col-3l {width: 25%;}
  .col-4l {width: 33.33%;}
  .col-5l {width: 41.66%;}
  .col-6l {width: 50%;}
  .col-7l {width: 58.33%;}
  .col-8l {width: 66.63%;}
  .col-9l {width: 75%;}
  .col-10l {width: 83.33%;}
  .col-11l {width: 91.66%;}
  .col-12l {width: 100%;}
  .col-hidden-s {display: inline-block;}
  .col-hidden-m {display: inline-block;}
  .col-hidden-l {display: none;}
}
/* 960 */ @media only screen and (min-width: 60em) {
  main {width: 75%;max-width: 60rem;}
  .col-1s {width: 8.33%;}
  .col-2s {width: 16.66%;}
  .col-3s {width: 25%;}
  .col-4s {width: 33.33%;}
  .col-5s {width: 41.66%;}
  .col-6s {width: 50%;}
  .col-7s {width: 58.33%;}
  .col-8s {width: 66.63%;}
  .col-9s {width: 75%;}
  .col-10s {width: 83.33%;}
  .col-11s {width: 91.66%;}
  .col-12s {width: 100%;}
  .col-1m {width: 8.33%;}
  .col-2m {width: 16.66%;}
  .col-3m {width: 25%;}
  .col-4m {width: 33.33%;}
  .col-5m {width: 41.66%;}
  .col-6m {width: 50%;}
  .col-7m {width: 58.33%;}
  .col-8m {width: 66.63%;}
  .col-9m {width: 75%;}
  .col-10m {width: 83.33%;}
  .col-11m {width: 91.66%;}
  .col-12m {width: 100%;}
  .col-1l {width: 8.33%;}
  .col-2l {width: 16.66%;}
  .col-3l {width: 25%;}
  .col-4l {width: 33.33%;}
  .col-5l {width: 41.66%;}
  .col-6l {width: 50%;}
  .col-7l {width: 58.33%;}
  .col-8l {width: 66.63%;}
  .col-9l {width: 75%;}
  .col-10l {width: 83.33%;}
  .col-11l {width: 91.66%;}
  .col-12l {width: 100%;}
  .col-1xl {width: 8.33%;}
  .col-2xl {width: 16.66%;}
  .col-3xl {width: 25%;}
  .col-4xl {width: 33.33%;}
  .col-5xl {width: 41.66%;}
  .col-6xl {width: 50%;}
  .col-7xl {width: 58.33%;}
  .col-8xl {width: 66.63%;}
  .col-9xl {width: 75%;}
  .col-10xl {width: 83.33%;}
  .col-11xl {width: 91.66%;}
  .col-12xl {width: 100%;}
  .col-hidden-s {display: inline-block;}
  .col-hidden-m {display: inline-block;}
  .col-hidden-l {display: inline-block;}
  .col-hidden-xl {display: none;}
}
